@model Web.Models.ProductListViewModel

@{
    ViewData["Title"] = "Products";

    string sortBy = Model.SortBy ?? "";
    bool ascending = Model.Ascending;

    int currentPage = Model.Page;
    int pageSize = Model.PageSize;
    int totalCount = Model.TotalCount;

    int totalPages = Model.TotalPages;

    string GetSortIcon(string column)
    {
        if (sortBy == column)
            return ascending ? "↑" : "↓";
        return "";
    }
}

<h2>Products</h2>

<a class="btn btn-primary mb-3" asp-action="Create">Создать новый продукт</a>

<table class="table table-striped table-hover border">
    <thead class="table table-primary">
    <tr>
        <th>Id</th>
        <th>
            <a class="text-decoration-none text-black"
               asp-action="Index"
               asp-route-sortBy="name"
               asp-route-ascending="@(sortBy == "name" && ascending ? false : true)"
               asp-route-page="@currentPage"
               asp-route-pageSize="@pageSize">
                Name @GetSortIcon("name")
            </a>
        </th>
        <th>
            <a class="text-decoration-none text-black"
               asp-action="Index"
               asp-route-sortBy="price"
               asp-route-ascending="@(sortBy == "price" && ascending ? false : true)"
               asp-route-page="@currentPage"
               asp-route-pageSize="@pageSize">
                Price @GetSortIcon("price")
            </a>
        </th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var p in Model.Products)
    {
        <tr>
            <td>@p.Id</td>
            <td>@p.Name</td>
            <td>@p.Price.ToString("C")</td>
            <td>
                <a class="btn btn-sm btn-success me-1 text-decoration-none"
                   asp-action="Edit" asp-route-id="@p.Id">Edit</a>

                <form asp-action="Delete" method="post" class="d-inline">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" value="@p.Id" />
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>

                <form asp-action="ToggleStatus" method="post" class="d-inline">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" value="@p.Id" />
                    <button type="submit" class="btn btn-sm @(p.IsActive ? "btn-warning" : "btn-primary")">
                        @(p.IsActive ? "Снять с продажи" : "Выставить на продажу")
                    </button>
                </form>
            </td>
            
        </tr>
    }
    </tbody>
</table>

@if (totalPages > 1)
{
    <nav>
        <ul class="pagination">

            @if (currentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link"
                       asp-action="Index"
                       asp-route-page="@(currentPage - 1)"
                       asp-route-sortBy="@sortBy"
                       asp-route-ascending="@ascending"
                       asp-route-pageSize="@pageSize">
                        Prev
                    </a>
                </li>
            }

            @for (int i = 1; i <= totalPages; i++)
            {
                <li class="page-item @(i == currentPage ? "active" : "")">
                    <a class="page-link"
                       asp-action="Index"
                       asp-route-page="@i"
                       asp-route-sortBy="@sortBy"
                       asp-route-ascending="@ascending"
                       asp-route-pageSize="@pageSize">
                        @i
                    </a>
                </li>
            }

            @if (currentPage < totalPages)
            {
                <li class="page-item">
                    <a class="page-link"
                       asp-action="Index"
                       asp-route-page="@(currentPage + 1)"
                       asp-route-sortBy="@sortBy"
                       asp-route-ascending="@ascending"
                       asp-route-pageSize="@pageSize">
                        Next
                    </a>
                </li>
            }

        </ul>
    </nav>
}
